{% extends "base_sidebar.html" %}
{% load static %}
{% block title %}INICIO{% endblock %}
{% block content%}
<div class="card">
    <div class='card-body border-top border-3 rounded-3 border-primary'>
        <h2> <i class="fa-solid fa-layer-group"></i> Adicionar Recurso</h2>
                {% for error in errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}
            <form method="POST" enctype="multipart/form-data" id="updateForm">
                {% csrf_token %}
{#                <input type="hidden" name="action" value="{{action}}">#}
                <input type="hidden" name="id" value="{{ curso_a.id }}">
                <div class="row">
                    {% for field in form %}
                    <div class="mb-2 col-12 col-md-6">
                        <label for="" class="ms-1 mb-1">{{ field.label }} :</label>
                        <div>
                            {{field}}
                        </div>
                        {% if field.errors %}
                        <small class="text-danger ms-1">
                            <i class="fa fa-info-circle"></i>
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        </small>
                        {%endif%}
                    </div>
                    {% endfor %}
                </div>
                <div class="save-stngs pd2 text-start py-3 text-center">
                    <ul>
                        <li>
                            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                            <a class="btn btn-danger" href="{% url 'sistema' 'cursos' %}"><i class="fa fa-close"></i> Cancelar</a>
                        </li>
                    </ul>
                </div>
            </form>
    </div>
</div>
{% endblock %}
{% block srcjs %}
<script>
    $(function () {
        {#$("#id_curso, #id_asignatura, #id_profesor, #id_estudiantes").select2({ width: "100%" })#}
    });
</script>
{% endblock %}