{% extends "base_sidebar.html" %}
{% load static %}
{% block title %}Recursos{% endblock %}
{% block content %}

    <div class="row ps-2">
        <h1><a href="{% url 'home' %}" title="Atras" data-bs-toggle="tooltip"><i
                class="fa fa-arrow-circle-left nav-item"></i></a> <i class="fa-solid fa-layer-group"></i> {{ title }}
        </h1>
    </div>
    <div class="card">
        <div class='card-body border-top rounded-3'>
            <div class="row ps-2">
                <div class="col-12 pb-3">
                    <a href="{% url 'sistema' 'addrecurso' %}" class="btn btn-outline-success"><i class="fa fa-plus-circle"></i>
                        Crear</a>
                </div>
            </div>
        <div class="table-responsive">
             <table class='table table-bordered rounded-3'>
                <thead class="table-dark">
                <tr>
                    <th class="text-center fs-3">N</th>
                    <th class="text-center fs-3">Título</th>
                    <th class="text-center fs-3">Descripcion</th>
{#                    <th class="text-center fs-3">Tipo</th>#}
                    <th class="text-center fs-3">Enlace</th>
                    <th class="text-center fs-3">Archivo</th>
                    <th class="text-center fs-3">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for list in listado %}
                    <tr>
                        <td class="text-center">
                            {{ forloop.counter }}
                        </td>
                        <td class="text-center">
                           {{ list.titulo }}
                        </td>
                        <td class="text-center">
                           {{ list.descripcion }}
                        </td>
                        <td class="text-center">
                            {{ list.enlace }}
                        </td>
                        <td class="text-center">
                            {% if list.archivo %}
                                <a target="_blank" title="" href="{{ list.archivo.url }}"
                                   class="btn btn-success btn-mini tu"><i class="fa fa-eye"></i></a>
                            {% endif %}
                        </td>
                        <td class="text-center w-5 align-middle">
                            <div class="dropdown">
                                <button type="button" class="btn btn-secondary dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cogs"></i> <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right fs-3" x-placement="right-start">
                                    <li>
                                        <a href="{% url 'sistema' 'editrecurso' %}?id={{ list.id }}" class="dropdown-item"><span class="fa fa-edit"></span> Editar</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" onclick="eliminarajax('{{ list.id }}', '{{ list }}','delrecurso')" class="dropdown-item"><span class="fa fa-trash"></span> Eliminar</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="15" class="text-center">NO EXISTEN REGISTROS</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
            {% include 'paginacion.html' %}
        </div>
    </div>
{% endblock %}