{% extends "base_sidebar.html" %}
{% load static %}
{% block title %}INICIO{% endblock %}
{% block content%}
    <div class="row">
        {% if persona.perfil == 1 %}
            <div class="col-md-3">
            <a href="{% url 'sistema' 'tareasestudiante' %}">
                <div class="card" style="border:1px solid #CCC">
                    <div class="card-header bg-light" style="height:40px">
                        <span class="text-dark">Tareas</span>
                    </div>
                    <div class="text-center card-title">
                        <h1 class="mt-1 text-dark"><i class="fa fa-book text-black"></i></h1>
                    </div>
                </div> <!-- end card-body-->
                <div class="card-footer" style="height:40px">
                    <p class="mb-0 text-muted text-bold">
                        <em class="text-nowrap">Tareas asignadas</em>
                    </p>
                </div>
            </a>
        </div> <!-- end card-->
        {% endif %}
        {% if persona.perfil == 2 %}
            <div class="col-md-3">
                <a href="{% url 'sistema' 'cursosdocente' %}">
                    <div class="card" style="border:1px solid #CCC">
                        <div class="card-header bg-light" style="height:40px">
                            <span class="text-dark">Asignaturas</span>
                        </div>
                        <div class="text-center card-title">
                            <h1 class="mt-1 text-dark"><i class="fa-solid fa-book-open-reader"></i></h1>
                        </div>
                    </div> <!-- end card-body-->
                    <div class="card-footer" style="height:40px">
                        <p class="mb-0 text-muted text-bold">
                            <em class="text-nowrap">Listado de asignaturas</em>
                        </p>
                    </div>
                </a>
            </div> <!-- end card-->
            <div class="col-md-3">
                <a href="{% url 'sistema' 'recursos' %}">
                    <div class="card" style="border:1px solid #CCC">
                        <div class="card-header bg-light" style="height:40px">
                            <span class="text-dark">Recursos</span>
                        </div>
                        <div class="text-center card-title">
                            <h1 class="mt-1 text-dark"><i class="fa-solid fa-file-lines"></i></h1>
                        </div>
                    </div> <!-- end card-body-->
                    <div class="card-footer" style="height:40px">
                        <p class="mb-0 text-muted text-bold">
                            <em class="text-nowrap">Subir recursos</em>
                        </p>
                    </div>
                </a>
            </div> <!-- end card-->
        {% endif %}
        {% if persona.perfil == 3 %}
            <div class="col-md-3">
                <a href="{% url 'sistema' 'cursos' %}">
                    <div class="card" style="border:1px solid #CCC">
                        <div class="card-header bg-light" style="height:40px">
                            <span class="text-dark">Cursos</span>
                        </div>
                        <div class="text-center card-title">
                            <h1 class="mt-1 text-dark"><i class="fa-solid fa-layer-group"></i></h1>
                        </div>
                    </div> <!-- end card-body-->
                    <div class="card-footer" style="height:40px">
                        <p class="mb-0 text-muted text-bold">
                            <em class="text-nowrap">Listado de cursos</em>
                        </p>
                    </div>
                </a>
            </div> <!-- end card-->
        {% endif %}
        {% if not persona.perfil == 1 %}
        <div class="col-md-3">
            <a href="">
                <div class="card" style="border:1px solid #CCC">
                    <div class="card-header bg-light" style="height:40px">
                        <span class="text-dark">Dashboard</span>
                    </div>
                    <div class="text-center card-title">
                        <h1 class="mt-1 text-dark"><i class="bi bi-bar-chart-line text-black"></i></h1>
                    </div>
                </div> <!-- end card-body-->
                <div class="card-footer" style="height:40px">
                    <p class="mb-0 text-muted text-bold">
                        <em class="text-nowrap">Visualización de datos</em>
                    </p>
                </div>
            </a>
        </div> <!-- end card-->
        {% endif %}
        
    </div>
{% endblock %}