{% extends "base_sidebar.html" %}
{% load static %}
{% block title %}{{title}}{% endblock %}
{% block content%}

    <div class="row ps-2">
        <h1><i class="fa-solid fa-list-check"></i> {{title}} <span class="fs-3">| {{ curso_a }}</span></h1>
    </div>
    <div class="row ps-2">
        <div class="col-12 pb-3">
            <a href="{% url 'sistema' 'addtareas' %}" class="btn btn-success"><i class="fa fa-plus-circle"></i> Adicionar</a>
        </div>
    </div>
    <div class="card">
        <div class='card-body border-top border-3 rounded-3 border-primary'>
            <table class='table table-bordered table-striped tabla_responsive'>
                <thead class="table-light">
                <tr>
                    <th class="text-center fs-3">N</th>
                    <th class="text-center fs-3">Tarea</th>
                    <th class="text-center fs-3">Asignatura</th>
                    <th class="text-center fs-3">Recursos</th>
                    <th class="text-center fs-3">Profesor</th>
                    <th class="text-center fs-3">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for list in listado %}
                    <tr>
                        <td class="text-center">
                            {{ forloop.counter }}
                        </td>
                        <td class="text-center">
                           {{ list.curso }}
                        </td>
                        <td class="text-center">
                           {{ list.asignatura }}
                        </td>
                        <td class="text-center">
                            {{ list.profesor }}
                        </td>
                        <td class="text-left">
                            <ul>
                                {% for estudiante in list.estudiantes.all %}
                                    <li><i class="fa-solid fa-arrow-circle-right"></i> {{ estudiante.nombre_simple }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td class="text-center w-5">
                           <div class="dropdown">
                                <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Acciones <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right fs-3" x-placement="right-start">
                                    <li>
                                        <a href="{% url 'sistema' 'editcurso' %}?id={{ list.id }}" class="dropdown-item"><span class="fa fa-edit"></span> Editar</a>
                                    </li>
                                     <li>
                                        <a href="{% url 'sistema' 'tareas' %}?id={{ list.id }}" class="dropdown-item"><span class="fa fa-list-check"></span> Tareas</a>
                                    </li>
                                      <li>
                                        <a href="javascript:void(0);" onclick="eliminarajax('{{ list.id }}', '{{ list }}','delcurso')" class="dropdown-item"><span class="fa fa-trash"></span> Eliminar</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="15" class="text-center">NO EXISTEN REGISTROS</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'paginacion.html' %}
        </div>
    </div>
{% endblock %}