{% extends "base_sidebar.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

    <div class="row ps-2">
        <h1><a href="{% url 'sistema' 'tareasestudiante' %}" title="Atras" data-bs-toggle="tooltip"><i class="fa fa-arrow-circle-left nav-item"></i></a> <i class="fa-solid fa-paste"></i> {{ title }} | {{ tarea.asignatura.asignatura }}</h1>
    </div>
    <div class="row p-2">
        <div class="col-12">
            <h1>{{ tarea }}</h1>
            <p>{{ tarea.description }}</p>
            <p>{{ tarea.a }}</p>
            {% for recurso in tarea.recursos %}

            {% endfor %}
            
        </div>
    </div>

    {% include 'paginacion.html' %}
{% endblock %}