{% extends "base_sidebar.html" %}
{% load static %}
{% block title %}Cursos{% endblock %}
{% block content%}

    <div class="row ps-2">
        <h3><i class="fa-solid fa-layer-group"></i> {{title}}</h3>
    </div>
    <div class="row ps-2">
        <div class="col-12 py-3">
            <a href="{{request.path}}?action=addcurso" class="btn btn-success "><i class="fa fa-plus-circle"></i> Adicionar</a>
        </div>
    </div>
    <div class="card">
        <div class='card-body border-top border-3 rounded-3 border-primary'>
            <table class='table table-bordered table-striped tabla_responsive'>
                <thead>
                <tr>
                    <th style="text-align: center;width: 5%">Nro</th>
                    <th style="text-align: center;width: 25%">Nombre</th>
                    <th style="text-align: center;width: 5%">Cupo</th>
                    <th style="text-align: center;width: 5%">Valor</th>
                    <th style="text-align: center;width: 15%">Info.</th>
                    <th style="text-align: center;width: 20%">Responsable</th>
                    <th style="text-align: center;width: 10%">Fechas</th>
                    <th style="text-align: center;width: 10%">Imagen</th>
                    <th style="text-align: center;width: 5%">Mostrar</th>
                    <th style="text-align: center">Carrera</th>
                    <th style="text-align: center;">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for list in listado %}
                    <tr>
                        <td style="text-align: center;">
                            {{ forloop.counter }}
                        </td>
                        <td style="text-align: center;">
                           
                        </td>
                        <td style="text-align: center;">
                           
                        </td>
                        <td style="text-align: center;">
                        </td>
                        <td style="text-align: center;">
                            
                        </td>
                        <td style="text-align: center;">
                           
                        </td>

                        <td style="text-align: center;">
                            <b>Inicio: </b>
                            {{ list.fechainicio|date:'d-m-Y' }}<br>
                            <b>Fin: </b>
                            {{ list.fechafin|date:'d-m-Y' }}<br>
                        </td>

                        <td style="text-align: center;">
                           
                        </td>
                        <td style="text-align: center; width: 15%">
                            
                        </td>

                        <td>
                          
                        </td>

                        <td style="text-align: center">
                           <div class="dropdown dropleft">
                                <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Acciones <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right" x-placement="right-start">
                                    <li class="dropdown-item">
                                        <a href="javascript:void(0)"
                                           onclick="formModal('{{ list.id }}','EDITAR ACTIVIDAD','editactividad')"><span
                                                class="fa fa-edit"></span> Editar</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="15" class="text-center">NO EXISTEN REGISTROS</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'paginacion.html' %}
        </div>
    </div>
{% endblock %}