{% extends "base_sidebar.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

    <div class="row ps-2">
        <h1><a href="{% url 'home' %}" title="Atras" data-bs-toggle="tooltip"><i
                class="fa fa-arrow-circle-left nav-item"></i></a> <i class="fa-solid fa-list-check"></i> {{ title }}
            <span class="fs-3"> {{ curso_a }}</span></h1>
    </div>
    <div class="row p-2">
        {% for asignatura in cursos %}
             <div class="col-12">
                    <h2><i class="fa fa-graduation-cap"></i> {{ asignatura }}</h2>
                </div>
            {% if asignatura.tareas %}
                {% for tarea in listado %}
                    {% if asignatura.id == tarea.asignatura.id %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                            <div class="card h-100">
                                <div class="card-header pb-1">
                                    <a href="" class="w-100">
                                        <h3><i class="fa-solid fa-paste"></i> {{ tarea }}</h3>
                                    </a>
                                </div>
                                <div class='card-body py-1 fs-4'>
                                    <p>{{ tarea.description|truncatechars:'120' }} <a href="" class="text-muted">Ver
                                        más</a></p>
                                </div>
                                <div class="card-footer fs-4 py-2">
                                    <p><i class="fa fa-fa-solid fa-file-lines" title="Total de recursos"
                                          data-bs-toggle="tooltip"></i> {{ tarea.recursos.all|length }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="col-12 ms-4 mb-4">
                    <h3 class="text-muted">
                        <i class="fa fa-close"></i> Sin tareas asignadas en la asignatura
                    </h3>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% include 'paginacion.html' %}
{% endblock %}